# Add your private key here (without the 0x prefix)
PRIVATE_KEY=your_private_key_here

# Contract Addresses (Pepe V2 Mainnet)
NEXT_PUBLIC_P2P_MARKETMANAGER_ADDRESS=0xAC0817BdB7375f396CB0943565eD1854935DEafa
NEXT_PUBLIC_P2P_ANALYTICS_ADDRESS=0xA08D7FF6C4F40C516ae108825DEFBb5F807c4a81
NEXT_PUBLIC_P2P_TREASURY_ADDRESS=0x01Bdd05467d190B0767879160dCecc6E775D54FD
NEXT_PUBLIC_P2P_VERIFICATION_ADDRESS=0xE7BF506bA9B88017819ADba3c8298E6C0AcD135E
NEXT_PUBLIC_P2P_TOKEN_ADDRESS=0x28dD14D951cc1b9fF32bDc27DCC7dA04FbfE3aF6
